body {
    text-align: center;
    background-color: rgb(66, 41, 41);
}
.xd {
    margin-bottom: 20px;
    color: white;
}
.balance {
    position: relative; /* добавьте это, чтобы сделать контейнер относительным */
    text-align: center;
    color: white;
    font-style: bold;
    font-size: 20px;
    vertical-align: middle;
    margin: auto;
    height: 40px; /* add a fixed height for .balance */
  }
  
  .img1 {
    display: inline-block;
    width: 20px; /* см. ширину, подходящую для вашего случая */
  }
  
  .img2 {
    display: block;
    margin: 0 auto;
    width: 240px; /* adjust the width to fit the screen */
    height: auto;
    max-width: 100%; /* make it responsive for mobile devices */
    position: absolute; /* add this to make the element positionable */
    left: 50%; /* center it horizontally */
    top: 50%; /* center it vertically */
    transform: translate(-50%, -50%); /* fine-tune the positioning */
  }