body {
    text-align: center;
    background-color: rgb(66, 41, 41);
}
.xd {
    margin-bottom: 20px;
    color: white;
}
.balance {
    position: relative; /* добавьте это, чтобы сделать контейнер относительным */
    text-align: center;
    color: white;
    font-style: bold;
    font-size: 20px;
    vertical-align: middle;
    margin: auto;
  }
  
  .img1 {
    display: inline-block;
    width: 20px; /* см. ширину, подходящую для вашего случая */
  }
  
  .img2 {
    display: inline-block;
    width: 240px; /* см. ширину, подходящую для экрана */
    height: auto;
  }