body {
    text-align: center;
    background-color: rgb(67, 42, 42);
}
.xd {
    margin-bottom: 20px;
    color: white;
}
.balance {
    position: relative; /* добавьте это, чтобы сделать контейнер относительным */
    text-align: center;
    color: white;
    font-style: bold;
    font-size: 20px;
  }
  
.img1 {
    position: absolute;
    top: 50.5%;
    left: 48.6%;
    transform: translate(-50%, -50%);
    width: 20px; /*ปรajust the width to fit your needs */
  }
.img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px; /* adjust the width to fit the 250px screen */
    height: auto;
  }